.login {
    display: grid;
    place-items: center;
    margin: auto;
}

.login > image {
    object-fit: contain;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login > form {
    display: flex;
    flex-direction: column;
}

.login > form > input{
    width: 350px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

